{"openapi":"3.0.1","info":{"title":"Authologic Customer API","description":"\nThe integration API for using with Authlogic Engine.                             \n\nAuthologic allows for simple and effective checking of the user's identity, and the use of API enables initiation by an external system\nthe verification process and the receipt of its results.\n                ","contact":{"name":"API support","email":"tech-support@authologic.com"},"version":"1.1"},"externalDocs":{"description":"API Documentation","url":"https://sandbox.authologic.com/admin/en/docs_api"},"servers":[{"url":"https://sandbox.authologic.com","description":"Testing environment"}],"security":[{"apiKey":[]}],"tags":[{"name":"Base","description":"1. Base Methods needed for the verification process.","externalDocs":{"description":"Usage","url":"/docs/api/en/v1.1/5mTutorial.html"}},{"name":"Bank","description":"2. Product: Bank Transactions","externalDocs":{"description":"Usage","url":"/docs/api/en/v1.1/product-bankTransactions.html"}},{"name":"AML","description":"3. Product: AML","externalDocs":{"description":"Usage","url":"/docs/api/en/v1.1/product-aml.html"}},{"name":"Advanced","description":"4. Advanced methods.","externalDocs":{"description":"Usage","url":"/docs/api/en/v1.1/5mTutorial.html"}},{"name":"Metadata","description":"5. Advanced: Metadata","externalDocs":{"description":"Usage","url":"/docs/api/en/v1.1/addon-metadata.html"}},{"name":"CustomLayout","description":"6. Advanced: Custom Layout","externalDocs":{"description":"Usage","url":"/docs/api/en/v1.1/whiteLabel.html"}}],"paths":{"/api/conversations":{"post":{"tags":["Base"],"summary":"Start a new user verification process","description":"\nEach process of getting data and confirming the identity of the user should start by calling this method.\nThe call initiates this process and returns information about the address to which the user should be redirected to\ngathering the information requested from him.\n\n**NOTE:** All these fields are marked optional. This is because all of these fields may have their default values set on the Authologic \nside when creating your account. If any value does not have a default setting you will get an error and you should either provide that value \nor report to Authologic to set the default one.\n\nThe query contains three groups of information:\n * general information such as:\n   * **userKey**: User ID on your system\n   * **strategy**: information about the identity checking strategy (usually the default value is sufficient)\n   * **returnUrl**: URL to which the user should be redirected after the process is completed\n   * **callbackUrl**: information about the return address to which the system will send the acquired information. If this information is not provided, Authologic assumes that the information will be downloaded by the client\n * **query**: query definition containing individual products provided by Authologic,\n * **hints**: data that is used for additional query configuration and optimization, consisting of information that is known to us\nabout the user (known) and data that we know, but are not sure (uncertain) - these are usually data declared by the user\n\nThe information contained in the query section is divided into specific products:\n * **identity** - fetch user information. This section is always required\n    * **requireOneOf**: User information to be specified by Authologic. This is represented as set of sets and Authologic will try to fetch one of these\n    * **optional**: User information that may be specified by Authologic when the information is available\n * **verify** - confirmation of the compliance of user data\n    * **user**: information about user that should be verified \n * **bankTransactions** - the process of retrieving information about transactions.\n   * **type**: type of transaction - credit, debit or all\n   * **flags**: Additional information on what to return\n * **aml** - check user on AML lists\n   * **checks**: lists where the user should be checked\n * **auth** - user authentication product\n        ","operationId":"createConversation","requestBody":{"content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/CreateConversation"},"examples":{"ex1":{"summary":"The simplest verification process","description":"This example shows the main scenario of verification.","value":{"userKey":"7dfb9ded-c38f-49ae-95e2-307283a0b1f6","returnUrl":"https://authologic.com/tests/return/?conversation={conversationId}","strategy":"public:default","query":{"identity":{"requireOneOf":[["PERSON_NAME_FIRSTNAME","PERSON_NAME_LASTNAME"]],"optional":[{"list":["PERSON_CONTACT_EMAIL_OTP"]}]}}}},"ex2":{"summary":"The process with multiple success options","description":"This example shows howto use multiple field sets for describe alternative success options.","value":{"userKey":"7dfb9ded-c38f-49ae-95e2-307283a0b1f6","returnUrl":"https://authologic.com/tests/return/?conversation={conversationId}","strategy":"public:default","query":{"identity":{"requireOneOf":[["PERSON_NAME_FIRSTNAME","PERSON_NAME_LASTNAME","PERSON_IDS_NATIONAL_ID"],["PERSON_NAME_FIRSTNAME","PERSON_NAME_LASTNAME","PERSON_IDS_PASSPORT_ID"]],"optional":[{"list":["PERSON_CONTACT_EMAIL_OTP"]}]}}}},"ex3":{"summary":"Verification process with AML continuous monitoring","description":"This example shows how to perform verification and set up the AML monitoring.","value":{"userKey":"7dfb9ded-c38f-49ae-95e2-307283a0b1f6","returnUrl":"https://authologic.com/tests/return/?conversation={conversationId}","strategy":"public:default","query":{"identity":{"requireOneOf":[["PERSON_NAME_FIRSTNAME","PERSON_NAME_LASTNAME"]]},"aml":{"checks":["PEP","SANCTIONS"],"subscription":{}}}}},"ex4":{"summary":"The user authorization product","description":"This example shows the main scenario for user authorization.","value":{"userKey":"7dfb9ded-c38f-49ae-95e2-307283a0b1f6","returnUrl":"https://authologic.com/tests/return/?conversation={conversationId}","strategy":"public:default","query":{"auth":{}}}}}}}},"responses":{"400":{"description":"Bad Request","content":{"application/vnd.authologic.v1.1+json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestApiError"},{"$ref":"#/components/schemas/MethodArgumentNotValidError"},{"$ref":"#/components/schemas/MethodArgumentTypeMismatchError"},{"$ref":"#/components/schemas/ConstraintViolationError"},{"$ref":"#/components/schemas/CustomValidationApiError"},{"$ref":"#/components/schemas/OperationNotSupportedApiFieldError"},{"$ref":"#/components/schemas/MissingHeaderApiError"}]},"examples":{"ex1":{"summary":"Bad request example","description":"Example of bad request in case validation error.","value":{"status":"BAD_REQUEST","message":"Validation failed for argument example_argument","violations":[]}}}}}},"403":{"description":"Forbidden","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"examples":{"ex1":{"summary":"Forbidden example","description":"Example of forbidden call.","value":{"status":"FORBIDDEN","message":"Permission denied for strategy: `public:b`.","violations":[]}}}}}},"200":{"description":"Conversation started","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ConversationInfo"},"examples":{"ex1":{"summary":"Conversation Created and waiting for the user","description":"The conversation was created and now the user should be redirected to the given url.","value":{"id":"022e8eaf-b06d-44b9-a68f-45eef1353dbe","userKey":"7dfb9ded-c38f-49ae-95e2-307283a0b1f6","url":"https://sandbox.authologic.com/c/022e8eaf-b06d-44b9-a68f-45eef1353dbe","status":"CREATED","result":{"identity":{"status":"IN_PROGRESS","user":{}}}}}}}}},"500":{"description":"Server side error"}}}},"/api/conversations/{conversationId}/page/{pageId}":{"post":{"tags":["CustomLayout"],"summary":"Send the information obtained from the user during the identity verification process","description":"\nTakes the information from the user and calculates the next page that should be rendered to the user.\n        ","operationId":"nextPage","parameters":[{"name":"conversationId","in":"path","description":"Conversation ID","required":true,"schema":{"type":"string"}},{"name":"pageId","in":"path","description":"Page ID","required":true,"schema":{"type":"string"}},{"name":"X-User-IP","in":"header","description":"User IP Address","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"},"description":"Map of parameters sent by the user"}}},"required":true},"responses":{"403":{"description":"Permission denied","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"FORBIDDEN","message":"Permission denied for strategy: `public:b`.","violations":[]}}}},"400":{"description":"Bad Request","content":{"application/vnd.authologic.v1.1+json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestApiError"},{"$ref":"#/components/schemas/MethodArgumentNotValidError"},{"$ref":"#/components/schemas/MethodArgumentTypeMismatchError"},{"$ref":"#/components/schemas/ConstraintViolationError"},{"$ref":"#/components/schemas/CustomValidationApiError"},{"$ref":"#/components/schemas/OperationNotSupportedApiFieldError"},{"$ref":"#/components/schemas/MissingHeaderApiError"}]},"example":{"status":"BAD_REQUEST","message":"JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character ('\"' (code 34)): was expecting Array entries.","violations":[]}}}},"200":{"description":"Information available","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/Page"}}}},"404":{"description":"Conversation not found","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"NOT_FOUND","message":"Item not found","violations":[]}}}},"500":{"description":"Server side error"}}}},"/api/conversations/{conversationId}":{"get":{"tags":["Base"],"summary":"Retrieving up-to-date data as defined by the user identity verification process","description":"\n**NOTE:** In practice, instead of this method you should use the callback mechanism described \u003Ca href=\"/docs/api/en/v1.1/callback.html\"\u003Ehere\u003C/a\u003E.\n\nReturns information about how the identity validation process is performed for the given conversation ID.\nIn the case of using the callback mechanism, the use of this method is optional - data needed\nare sent automatically when they change.\n        ","operationId":"getConversation","parameters":[{"name":"conversationId","in":"path","description":"Conversation ID","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"FORBIDDEN","message":"Permission denied for strategy: `public:b`.","violations":[]}}}},"200":{"description":"Conversation found","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ConversationInfo"}}}},"400":{"description":"Bad Request","content":{"application/vnd.authologic.v1.1+json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestApiError"},{"$ref":"#/components/schemas/MethodArgumentNotValidError"},{"$ref":"#/components/schemas/MethodArgumentTypeMismatchError"},{"$ref":"#/components/schemas/ConstraintViolationError"},{"$ref":"#/components/schemas/CustomValidationApiError"},{"$ref":"#/components/schemas/OperationNotSupportedApiFieldError"},{"$ref":"#/components/schemas/MissingHeaderApiError"}]},"example":{"status":"BAD_REQUEST","message":"JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character ('\"' (code 34)): was expecting Array entries.","violations":[]}}}},"410":{"description":"Conversation is unavailable","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"GONE","message":"Conversation is unavailable due to retention policy.","violations":[]}}}},"404":{"description":"Conversation not found","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"NOT_FOUND","message":"Item not found","violations":[]}}}},"500":{"description":"Server side error"}}},"delete":{"tags":["Advanced"],"summary":"Block access to the verification process","description":"\nCreates an order to block the verification process. After completing such an order, the conversation will be switched to the 'EXPIRED' status. \nThis means that the user entering such a verification process will be automatically redirected to the 'returnUrl' address. \nAfter the time specified by the retention settings, the conversation will be deleted.\n        ","operationId":"expireConversation","parameters":[{"name":"conversationId","in":"path","description":"Conversation ID","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"FORBIDDEN","message":"Permission denied.","violations":[]}}}},"202":{"description":"Accepted"},"404":{"description":"Conversation not found","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"NOT_FOUND","message":"Item not found","violations":[]}}}},"500":{"description":"Server side error"}}}},"/api/conversations/{conversationId}/page/current":{"get":{"tags":["CustomLayout"],"summary":"Obtaining the information needed to show the user the current page of the identity verification process","description":"\nReturns information about the page that should be rendered, all parameters needed to render the page and information which parameters should be\nobtain from the user.\n        ","operationId":"getPage","parameters":[{"name":"conversationId","in":"path","description":"Conversation ID","required":true,"schema":{"type":"string"}},{"name":"X-User-IP","in":"header","description":"User IP Address","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Permission denied","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"FORBIDDEN","message":"Permission denied for strategy: `public:b`.","violations":[]}}}},"400":{"description":"Bad Request","content":{"application/vnd.authologic.v1.1+json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestApiError"},{"$ref":"#/components/schemas/MethodArgumentNotValidError"},{"$ref":"#/components/schemas/MethodArgumentTypeMismatchError"},{"$ref":"#/components/schemas/ConstraintViolationError"},{"$ref":"#/components/schemas/CustomValidationApiError"},{"$ref":"#/components/schemas/OperationNotSupportedApiFieldError"},{"$ref":"#/components/schemas/MissingHeaderApiError"}]},"example":{"status":"BAD_REQUEST","message":"JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character ('\"' (code 34)): was expecting Array entries.","violations":[]}}}},"200":{"description":"Information available","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/Page"}}}},"404":{"description":"Conversation not found","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"NOT_FOUND","message":"Item not found","violations":[]}}}},"500":{"description":"Server side error"}}}},"/api/conversations/{conversationId}/identity/metadata":{"get":{"tags":["Metadata"],"summary":"Retrieving information about the metadata collected during the identification process","description":"\nReturns information about the available metadata that was collected during the identification process.\n        ","operationId":"getMetadata","parameters":[{"name":"conversationId","in":"path","description":"Conversation ID","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Permission denied","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"FORBIDDEN","message":"Permission denied for strategy: `public:b`.","violations":[]}}}},"200":{"description":"Information available","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/IdentityMetadata"}}}},"400":{"description":"Bad Request","content":{"application/vnd.authologic.v1.1+json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestApiError"},{"$ref":"#/components/schemas/MethodArgumentNotValidError"},{"$ref":"#/components/schemas/MethodArgumentTypeMismatchError"},{"$ref":"#/components/schemas/ConstraintViolationError"},{"$ref":"#/components/schemas/CustomValidationApiError"},{"$ref":"#/components/schemas/OperationNotSupportedApiFieldError"},{"$ref":"#/components/schemas/MissingHeaderApiError"}]},"example":{"status":"BAD_REQUEST","message":"JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character ('\"' (code 34)): was expecting Array entries.","violations":[]}}}},"410":{"description":"Conversation is unavailable","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"GONE","message":"Conversation is unavailable due to retention policy.","violations":[]}}}},"404":{"description":"Conversation not found","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"NOT_FOUND","message":"Item not found","violations":[]}}}},"500":{"description":"Server side error"}}}},"/api/conversations/{conversationId}/identity/metadata/media/{id}":{"get":{"tags":["Metadata"],"summary":"Retrieving media file that was collected during the identification process","description":"\nReturns stream of media file (images, videos, pdf reports etc.) collected during identification process.\n        ","operationId":"getMedia","parameters":[{"name":"conversationId","in":"path","description":"Conversation ID","required":true,"schema":{"type":"string"}},{"name":"id","in":"path","description":"Media ID","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Permission denied","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"FORBIDDEN","message":"Permission denied for strategy: `public:b`.","violations":[]}}}},"400":{"description":"Bad Request","content":{"application/vnd.authologic.v1.1+json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestApiError"},{"$ref":"#/components/schemas/MethodArgumentNotValidError"},{"$ref":"#/components/schemas/MethodArgumentTypeMismatchError"},{"$ref":"#/components/schemas/ConstraintViolationError"},{"$ref":"#/components/schemas/CustomValidationApiError"},{"$ref":"#/components/schemas/OperationNotSupportedApiFieldError"},{"$ref":"#/components/schemas/MissingHeaderApiError"}]},"example":{"status":"BAD_REQUEST","message":"JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character ('\"' (code 34)): was expecting Array entries.","violations":[]}}}},"200":{"description":"Information available","content":{"application/octet-stream":{}}},"410":{"description":"Conversation is unavailable","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"GONE","message":"Conversation is unavailable due to retention policy.","violations":[]}}}},"404":{"description":"Conversation not found","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"NOT_FOUND","message":"Item not found","violations":[]}}}},"500":{"description":"Server side error"}}}},"/api/conversations/{conversationId}/bankTransactions":{"get":{"tags":["Bank"],"summary":"Retrieving a list of banking transactions related to the conversation","description":"\nReturns conversation-related banking transactions. Transactions only occur when the _bankTransactions_ section was defined when the conversation was created.\nTransactions are available when the appropriate callback is received, or when the _bankTransactions_ status reaches _FINISHED_.            \n        ","operationId":"getBankTransactions","parameters":[{"name":"conversationId","in":"path","description":"Conversation ID","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"name":"pageSize","in":"query","description":"The number of items on the page","required":false,"schema":{"minimum":0,"type":"integer","format":"int32"}}],"responses":{"403":{"description":"Forbidden","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"FORBIDDEN","message":"Permission denied for strategy: `public:b`.","violations":[]}}}},"400":{"description":"Bad Request","content":{"application/vnd.authologic.v1.1+json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestApiError"},{"$ref":"#/components/schemas/MethodArgumentNotValidError"},{"$ref":"#/components/schemas/MethodArgumentTypeMismatchError"},{"$ref":"#/components/schemas/ConstraintViolationError"},{"$ref":"#/components/schemas/CustomValidationApiError"},{"$ref":"#/components/schemas/OperationNotSupportedApiFieldError"},{"$ref":"#/components/schemas/MissingHeaderApiError"}]},"example":{"status":"BAD_REQUEST","message":"JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character ('\"' (code 34)): was expecting Array entries.","violations":[]}}}},"200":{"description":"Transaction list available","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/Transactions"}}}},"410":{"description":"Conversation is unavailable","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"GONE","message":"Conversation is unavailable due to retention policy.","violations":[]}}}},"404":{"description":"Conversation not found","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"NOT_FOUND","message":"Item not found","violations":[]}}}},"500":{"description":"Server side error"}}}},"/api/conversations/{conversationId}/bankTransactions/stats":{"get":{"tags":["Bank"],"summary":"Retrieving statistics of downloaded banking transactions related to the conversation","description":"\nReturns statistics related to downloaded transactions. These statistics are returned for each account that has been shared as part of the conversation.\nThis information only occurs when the _bankTransactions_ section is defined when creating a conversation.\nand are available when the appropriate callback is received, or when the _bankTransactions_ status reaches _FINISHED_.\n        ","operationId":"getBankTransactionsStats","parameters":[{"name":"conversationId","in":"path","description":"Conversation ID","required":true,"schema":{"type":"string"}},{"name":"dateFrom","in":"query","description":"Starting date","required":false,"schema":{"type":"string","format":"date-time"},"example":"2020-07-24T08:00:00Z"},{"name":"dateTo","in":"query","description":"End date","required":false,"schema":{"type":"string","format":"date-time"},"example":"2020-08-24T00:00:00Z"}],"responses":{"403":{"description":"Forbidden","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"FORBIDDEN","message":"Permission denied for strategy: `public:b`.","violations":[]}}}},"200":{"description":"Information available","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/TransactionsStatistics"}}}},"400":{"description":"Bad Request","content":{"application/vnd.authologic.v1.1+json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestApiError"},{"$ref":"#/components/schemas/MethodArgumentNotValidError"},{"$ref":"#/components/schemas/MethodArgumentTypeMismatchError"},{"$ref":"#/components/schemas/ConstraintViolationError"},{"$ref":"#/components/schemas/CustomValidationApiError"},{"$ref":"#/components/schemas/OperationNotSupportedApiFieldError"},{"$ref":"#/components/schemas/MissingHeaderApiError"}]},"example":{"status":"BAD_REQUEST","message":"JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character ('\"' (code 34)): was expecting Array entries.","violations":[]}}}},"410":{"description":"Conversation is unavailable","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"GONE","message":"Conversation is unavailable due to retention policy.","violations":[]}}}},"404":{"description":"Conversation not found","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"NOT_FOUND","message":"Item not found","violations":[]}}}},"500":{"description":"Server side error"}}}},"/api/conversations/{conversationId}/bankTransactions/accounts":{"get":{"tags":["Bank"],"summary":"Retrieving information on bank accounts related to the conversation","description":"\nReturns information about the accounts from which transactions have been downloaded.\nThis information occurs only when the _bankTransactions_ section was defined when creating a conversation.\nand are available when the appropriate callback is received, or when the _bankTransactions_ status reaches _FINISHED_.            \n        ","operationId":"getBankTransactionsAccounts","parameters":[{"name":"conversationId","in":"path","description":"Conversation ID","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"FORBIDDEN","message":"Permission denied for strategy: `public:b`.","violations":[]}}}},"400":{"description":"Bad Request","content":{"application/vnd.authologic.v1.1+json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestApiError"},{"$ref":"#/components/schemas/MethodArgumentNotValidError"},{"$ref":"#/components/schemas/MethodArgumentTypeMismatchError"},{"$ref":"#/components/schemas/ConstraintViolationError"},{"$ref":"#/components/schemas/CustomValidationApiError"},{"$ref":"#/components/schemas/OperationNotSupportedApiFieldError"},{"$ref":"#/components/schemas/MissingHeaderApiError"}]},"example":{"status":"BAD_REQUEST","message":"JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character ('\"' (code 34)): was expecting Array entries.","violations":[]}}}},"410":{"description":"Conversation is unavailable","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"GONE","message":"Conversation is unavailable due to retention policy.","violations":[]}}}},"200":{"description":"Account information available","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/Accounts"}}}},"404":{"description":"Conversation not found","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"NOT_FOUND","message":"Item not found","violations":[]}}}},"500":{"description":"Server side error"}}}},"/api/conversations/{conversationId}/aml/{list}":{"get":{"tags":["AML"],"summary":"Retrieving detailed information about the user collected during the AML process","description":"\nReturns information about the user found on given AML list.\n        ","operationId":"getAMLList","parameters":[{"name":"conversationId","in":"path","description":"Conversation ID","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number","required":false,"schema":{"minimum":0,"type":"integer","format":"int32","default":0}},{"name":"pageSize","in":"query","description":"The number of items on the page","required":false,"schema":{"minimum":1,"type":"integer","format":"int32"}},{"name":"list","in":"path","description":"List name","required":true,"schema":{"type":"string","enum":["PEP","SANCTIONS","ADVERSE_MEDIA","SIP","OTHER"]},"example":"SANCTIONS"}],"responses":{"403":{"description":"Forbidden","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"FORBIDDEN","message":"Permission denied for strategy: `public:b`.","violations":[]}}}},"200":{"description":"User found on given AML list","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/AMLInfo"}}}},"400":{"description":"Bad Request","content":{"application/vnd.authologic.v1.1+json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestApiError"},{"$ref":"#/components/schemas/MethodArgumentNotValidError"},{"$ref":"#/components/schemas/MethodArgumentTypeMismatchError"},{"$ref":"#/components/schemas/ConstraintViolationError"},{"$ref":"#/components/schemas/CustomValidationApiError"},{"$ref":"#/components/schemas/OperationNotSupportedApiFieldError"},{"$ref":"#/components/schemas/MissingHeaderApiError"}]},"example":{"status":"BAD_REQUEST","message":"JSON body has an illegal format [Line: 10, Column: 12]: Unexpected character ('\"' (code 34)): was expecting Array entries.","violations":[]}}}},"404":{"description":"Not found","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"NOT_FOUND","message":"Item not found","violations":[]}}}},"410":{"description":"Conversation is unavailable","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"GONE","message":"Conversation is unavailable due to retention policy.","violations":[]}}}},"500":{"description":"Server side error"}}}},"/api/subscriptions/{conversationId}/aml":{"delete":{"tags":["AML"],"summary":"Cancel AML list subscription connected to the conversation","description":"\nStops AML monitoring for given conversation.\n        ","operationId":"cancelAMLSubscription","parameters":[{"name":"conversationId","in":"path","description":"Conversation ID","required":true,"schema":{"type":"string"}}],"responses":{"403":{"description":"Forbidden","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"FORBIDDEN","message":"Permission denied.","violations":[]}}}},"404":{"description":"Conversation or AML subscription not found","content":{"application/vnd.authologic.v1.1+json":{"schema":{"$ref":"#/components/schemas/ApiError"},"example":{"status":"NOT_FOUND","message":"Item not found","violations":[]}}}},"400":{"description":"Bad Request","content":{"application/vnd.authologic.v1.1+json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/BadRequestApiError"},{"$ref":"#/components/schemas/MethodArgumentNotValidError"},{"$ref":"#/components/schemas/MethodArgumentTypeMismatchError"},{"$ref":"#/components/schemas/ConstraintViolationError"},{"$ref":"#/components/schemas/CustomValidationApiError"},{"$ref":"#/components/schemas/OperationNotSupportedApiFieldError"},{"$ref":"#/components/schemas/MissingHeaderApiError"}]},"example":{"status":"BAD_REQUEST","message":"AML subscription in conversation: `example_conversation_id` already inactive.","violations":[]}}}},"202":{"description":"Subscription canceled"},"204":{"description":"No Content"},"500":{"description":"Server side error"}}}}},"components":{"schemas":{"AMLProduct":{"required":["checks"],"type":"object","properties":{"checks":{"type":"array","description":"List of AML checks to perform","items":{"type":"string","description":"List of AML checks to perform","enum":["PEP","SANCTIONS","ADVERSE_MEDIA","SIP","OTHER"]}},"subscription":{"$ref":"#/components/schemas/AMLSubscription"}},"description":"Configures the required information about the AML checks."},"AMLSubscription":{"type":"object","description":"The presence of the object enables recurring AML lists checking."},"AddressInfo":{"type":"object","properties":{"text":{"maxLength":200,"minLength":0,"type":"string","description":"User's full address, not broken down into components. **Note:** This field has no format defined","example":"ul. Wiśniowa 133/20 00-950 Warszawa PL"},"addressLine":{"maxLength":200,"minLength":0,"type":"string","description":"User address","example":"ul. Wiśniowa 133/20"},"postalCode":{"maxLength":10,"minLength":0,"type":"string","description":"Postcode","example":"00-950"},"city":{"maxLength":100,"minLength":0,"type":"string","description":"City","example":"Warszawa"},"country":{"maxLength":100,"minLength":0,"type":"string","description":"Country","example":"PL"}},"description":"User address"},"AuthProduct":{"type":"object","properties":{"challenge":{"type":"string","description":"Equivalent of a user's login in a given method."}},"description":"Configures the required information about auth product."},"BankTransactionsProduct":{"required":["flags","type"],"type":"object","properties":{"type":{"type":"string","description":"Transaction type to be retrieved:\n* CREDIT - credit\n* DEBIT - debit\n* ALL - all types\n","enum":["CREDIT","DEBIT","ALL"]},"flags":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["INCLUDE_SCHEDULED","INCLUDE_TAGS"]}}},"description":"Configures the required information about the user's banking transactions."},"CompanyIds":{"type":"object","properties":{"taxId":{"maxLength":50,"minLength":0,"type":"string","description":"Tax identification number (in Poland: NIP) of the company","example":"1234567890"}},"description":"Contains company-related identifiers if the current user is a legal entity"},"CompanyName":{"type":"object","properties":{"name":{"maxLength":200,"minLength":0,"type":"string","description":"Company name","example":"ACME Inc."}},"description":"Contains information related to the identification of the company if the current user is a legal entity"},"CompanyUserInfo":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/CompanyName"},"ids":{"$ref":"#/components/schemas/CompanyIds"},"address":{"$ref":"#/components/schemas/AddressInfo"},"contact":{"$ref":"#/components/schemas/ContactInfo"}},"description":"Contains company-related information if the current user is a legal entity"},"ContactInfo":{"type":"object","properties":{"email":{"type":"string","description":"User's email address","format":"email","example":"jan.kowalski@email.com"},"phone":{"type":"string","description":"User's phone","example":"+48692887345"},"emailOtp":{"type":"string","description":"User's email address confirmed with one time password","format":"email","example":"jan.kowalski@email.com"},"phoneOtp":{"type":"string","description":"User's phone confirmed with one time password","example":"+48692887345"}},"description":"User contact details"},"CreateConversation":{"type":"object","properties":{"userKey":{"maxLength":200,"minLength":1,"type":"string","description":"User ID on your system. This property is not used by the Authologic and is returned with the conversation status. If not given will be generated automatically.","example":"7dfb9ded-c38f-49ae-95e2-307283a0b1f6"},"returnUrl":{"type":"string","description":"The address on your system where the user will be redirected after verifying his identity. If {conversationId} part was given,\nit will be replaced with the conversation ID","example":"https://authologic.com/tests/return/?conversation={conversationId}"},"callbackUrl":{"type":"string","description":"The address in your system to which information about the user will be sent. You can use placeholders: {conversationId}, {target} and {event}","example":"https://authologic.com/tests/callback/?conversation={conversationId}&target={target}&event={event}"},"layoutUrl":{"type":"string","description":"The address on your system where the user will be redirected when Authologic need contact with user. This allows to define process look on your side.\n            If {conversationId} part was given, it will be replaced with the conversation ID","example":"https://authologic.com/tests/layout/?conversation={conversationId}"},"strategy":{"type":"string","description":"Additional information on the user identity verification strategy","example":"public:default"},"query":{"$ref":"#/components/schemas/ProductQuery"},"hints":{"$ref":"#/components/schemas/ProductHints"},"settings":{"type":"object","additionalProperties":{"type":"string","description":"Additional, optional settings depend on the selected strategy."},"description":"Additional, optional settings depend on the selected strategy."}}},"DriverLicenceInfo":{"type":"object","properties":{"id":{"maxLength":50,"minLength":0,"type":"string","description":"Number","example":"AA 12343454"},"issueDate":{"type":"string","description":"Date of issue of the document","format":"date"},"expiryDate":{"type":"string","description":"Document expiry date","format":"date"},"issueCountry":{"type":"string","description":"Country of issue of the document","example":"GB"},"issuer":{"type":"string","description":"Authority issuing the document","example":"Prezydent m.st. Warszawy"}},"description":"User's driver licence"},"IdCardInfo":{"type":"object","properties":{"id":{"maxLength":50,"minLength":0,"type":"string","description":"Number","example":"ABC 12343"},"type":{"maxLength":30,"minLength":0,"type":"string","description":"Type od ID card, as it may be different depending on country","example":"Aadhaar"},"issueDate":{"type":"string","description":"Date of issue of the document","format":"date"},"expiryDate":{"type":"string","description":"Document expiry date","format":"date"},"issueCountry":{"type":"string","description":"Country of issue of the document","example":"GB"},"issuer":{"type":"string","description":"Authority issuing the document","example":"Prezydent m.st. Warszawy"}},"description":"User's ID card"},"IdentityProduct":{"type":"object","properties":{"requireOneOf":{"uniqueItems":true,"type":"array","description":"Definition of the user information that have to be obtained. You can only define information to which you are entitled under the contract.\n            The value is the list of field sets that should be specified. The system will assume that the conversation was successful if any of these sets can be determined.\n        ","example":["PERSON_NAME_FIRSTNAME","PERSON_NAME_LASTNAME"],"items":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["PERSON_NAME_FIRSTNAME","PERSON_NAME_LASTNAME","PERSON_NAME_MIDDLENAME","PERSON_NAME_MIDDLE_INITIAL","PERSON_NAME_FULLNAME","PERSON_IDS_NATIONAL_ID","PERSON_IDS_ACCOUNTS","PERSON_IDS_IDCARD_ID","PERSON_IDS_IDCARD_TYPE","PERSON_IDS_IDCARD_PHOTO","PERSON_IDS_IDCARD_ISSUE_DATE","PERSON_IDS_IDCARD_EXPIRY_DATE","PERSON_IDS_IDCARD_ISSUE_COUNTRY","PERSON_IDS_IDCARD_ISSUER","PERSON_IDS_PASSPORT_ID","PERSON_IDS_PASSPORT_ISSUE_DATE","PERSON_IDS_PASSPORT_EXPIRY_DATE","PERSON_IDS_PASSPORT_PHOTO","PERSON_IDS_PASSPORT_ISSUE_COUNTRY","PERSON_IDS_PASSPORT_ISSUER","PERSON_IDS_RESIDENCE_PERMIT_ID","PERSON_IDS_RESIDENCE_PERMIT_TYPE","PERSON_IDS_RESIDENCE_PERMIT_ISSUE_DATE","PERSON_IDS_RESIDENCE_PERMIT_EXPIRY_DATE","PERSON_IDS_RESIDENCE_PERMIT_PHOTO","PERSON_IDS_RESIDENCE_PERMIT_ISSUE_COUNTRY","PERSON_IDS_RESIDENCE_PERMIT_ISSUER","PERSON_IDS_DRIVER_LICENCE_ID","PERSON_IDS_DRIVER_LICENCE_ISSUE_DATE","PERSON_IDS_DRIVER_LICENCE_EXPIRY_DATE","PERSON_IDS_DRIVER_LICENCE_PHOTO","PERSON_IDS_DRIVER_LICENCE_ISSUE_COUNTRY","PERSON_IDS_DRIVER_LICENCE_ISSUER","PERSON_IDS_OTHER_DOCUMENT_ID","PERSON_IDS_OTHER_DOCUMENT_DESCRIPTION","PERSON_IDS_OTHER_DOCUMENT_ISSUE_DATE","PERSON_IDS_OTHER_DOCUMENT_EXPIRY_DATE","PERSON_IDS_OTHER_DOCUMENT_ISSUE_COUNTRY","PERSON_IDS_OTHER_DOCUMENT_ISSUER","PERSON_INFO_GENDER","PERSON_INFO_NATIONALITY","PERSON_INFO_BIRTHDATE","PERSON_INFO_BIRTH_CITY","PERSON_INFO_BIRTH_COUNTRY","PERSON_INFO_AGE","COMPANY_NAME_NAME","COMPANY_IDS_TAX_ID","PERSON_ADDRESS","COMPANY_ADDRESS","PERSON_CONTACT_EMAIL","PERSON_CONTACT_PHONE","PERSON_CONTACT_EMAIL_OTP","PERSON_CONTACT_PHONE_OTP","COMPANY_CONTACT_EMAIL","COMPANY_CONTACT_PHONE","COMPANY_IDS_ADDITIONAL_ID"]}}},"optional":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/IdentityProductOptionalField"}}},"description":"Configures the required user information to be provided"},"IdentityProductOptionalField":{"required":["list"],"type":"object","properties":{"list":{"uniqueItems":true,"type":"array","items":{"type":"string","enum":["PERSON_NAME_FIRSTNAME","PERSON_NAME_LASTNAME","PERSON_NAME_MIDDLENAME","PERSON_NAME_MIDDLE_INITIAL","PERSON_NAME_FULLNAME","PERSON_IDS_NATIONAL_ID","PERSON_IDS_ACCOUNTS","PERSON_IDS_IDCARD_ID","PERSON_IDS_IDCARD_TYPE","PERSON_IDS_IDCARD_PHOTO","PERSON_IDS_IDCARD_ISSUE_DATE","PERSON_IDS_IDCARD_EXPIRY_DATE","PERSON_IDS_IDCARD_ISSUE_COUNTRY","PERSON_IDS_IDCARD_ISSUER","PERSON_IDS_PASSPORT_ID","PERSON_IDS_PASSPORT_ISSUE_DATE","PERSON_IDS_PASSPORT_EXPIRY_DATE","PERSON_IDS_PASSPORT_PHOTO","PERSON_IDS_PASSPORT_ISSUE_COUNTRY","PERSON_IDS_PASSPORT_ISSUER","PERSON_IDS_RESIDENCE_PERMIT_ID","PERSON_IDS_RESIDENCE_PERMIT_TYPE","PERSON_IDS_RESIDENCE_PERMIT_ISSUE_DATE","PERSON_IDS_RESIDENCE_PERMIT_EXPIRY_DATE","PERSON_IDS_RESIDENCE_PERMIT_PHOTO","PERSON_IDS_RESIDENCE_PERMIT_ISSUE_COUNTRY","PERSON_IDS_RESIDENCE_PERMIT_ISSUER","PERSON_IDS_DRIVER_LICENCE_ID","PERSON_IDS_DRIVER_LICENCE_ISSUE_DATE","PERSON_IDS_DRIVER_LICENCE_EXPIRY_DATE","PERSON_IDS_DRIVER_LICENCE_PHOTO","PERSON_IDS_DRIVER_LICENCE_ISSUE_COUNTRY","PERSON_IDS_DRIVER_LICENCE_ISSUER","PERSON_IDS_OTHER_DOCUMENT_ID","PERSON_IDS_OTHER_DOCUMENT_DESCRIPTION","PERSON_IDS_OTHER_DOCUMENT_ISSUE_DATE","PERSON_IDS_OTHER_DOCUMENT_EXPIRY_DATE","PERSON_IDS_OTHER_DOCUMENT_ISSUE_COUNTRY","PERSON_IDS_OTHER_DOCUMENT_ISSUER","PERSON_INFO_GENDER","PERSON_INFO_NATIONALITY","PERSON_INFO_BIRTHDATE","PERSON_INFO_BIRTH_CITY","PERSON_INFO_BIRTH_COUNTRY","PERSON_INFO_AGE","COMPANY_NAME_NAME","COMPANY_IDS_TAX_ID","PERSON_ADDRESS","COMPANY_ADDRESS","PERSON_CONTACT_EMAIL","PERSON_CONTACT_PHONE","PERSON_CONTACT_EMAIL_OTP","PERSON_CONTACT_PHONE_OTP","COMPANY_CONTACT_EMAIL","COMPANY_CONTACT_PHONE","COMPANY_IDS_ADDITIONAL_ID"]}}}},"KnownUserInfo":{"type":"object","properties":{"company":{"$ref":"#/components/schemas/CompanyUserInfo"},"person":{"$ref":"#/components/schemas/PersonUserInfo"}},"description":"List of certain information about a user"},"OtherDocumentInfo":{"type":"object","properties":{"id":{"maxLength":1024,"minLength":0,"type":"string","description":"Number","example":"AA 12343454"},"description":{"maxLength":1024,"minLength":0,"type":"string","description":"Description","example":"Document ID"},"issueDate":{"type":"string","description":"Date of issue of the document","format":"date"},"expiryDate":{"type":"string","description":"Document expiry date","format":"date"},"issueCountry":{"type":"string","description":"Country of issue of the document","example":"GB"},"issuer":{"type":"string","description":"Authority issuing the document","example":"Prezydent m.st. Warszawy"}},"description":"Other document (only applies to specific verification methods)"},"PassportInfo":{"type":"object","properties":{"id":{"maxLength":50,"minLength":0,"type":"string","description":"Number","example":"AD 24243423"},"issueDate":{"type":"string","description":"Date of issue of the document","format":"date"},"expiryDate":{"type":"string","description":"Document expiry date","format":"date"},"issueCountry":{"type":"string","description":"Country of issue of the document","example":"GB"},"issuer":{"type":"string","description":"Authority issuing the document","example":"Wojewoda Mazowiecki"}},"description":"User's passport"},"PersonAccountInfo":{"type":"object","properties":{"swiftbic":{"maxLength":50,"minLength":0,"type":"string","description":"Bank's SWIFT / BIC code","example":"BREXPLPW"},"iban":{"type":"string","description":"User account IBAN number (The parameter has been deprecated. Use `accountId` parameter.)","example":"PL27114020040000300201355387","deprecated":true},"accountId":{"maxLength":50,"minLength":0,"type":"string","description":"User account identification number","example":"PL27114020040000300201355387"},"currency":{"maxLength":3,"minLength":0,"type":"string","description":"Account currency","example":"PLN"}},"description":"User account information"},"PersonIdsInfo":{"required":["accounts"],"type":"object","properties":{"nationalId":{"maxLength":50,"minLength":0,"type":"string","description":"User ID (in Poland: PESEL)","example":"73121243192"},"idCard":{"$ref":"#/components/schemas/IdCardInfo"},"passport":{"$ref":"#/components/schemas/PassportInfo"},"driverLicence":{"$ref":"#/components/schemas/DriverLicenceInfo"},"residencePermit":{"$ref":"#/components/schemas/ResidencePermitInfo"},"otherDocument":{"$ref":"#/components/schemas/OtherDocumentInfo"},"accounts":{"type":"array","description":"User account list","items":{"$ref":"#/components/schemas/PersonAccountInfo"}}},"description":"Contains identifiers associated with the user if the current user is a natural person"},"PersonInfoInfo":{"type":"object","properties":{"gender":{"type":"string","description":"The gender of the user (MALE/FEMALE/OTHER)","enum":["MALE","FEMALE","OTHER"]},"nationality":{"type":"string","description":"User's nationality","example":"PL"},"birthDate":{"type":"string","description":"Date of birth","format":"date"},"birthCity":{"maxLength":200,"minLength":0,"type":"string","description":"Place of birth","example":"Gdańsk"},"birthCountry":{"type":"string","description":"Country of birth","example":"PL"},"age":{"type":"integer","description":"Age","format":"int32"}},"description":"Contains additional information about the user"},"PersonName":{"type":"object","properties":{"firstName":{"maxLength":100,"minLength":0,"type":"string","description":"User name","example":"Jan"},"lastName":{"maxLength":200,"minLength":0,"type":"string","description":"User surname","example":"Kowalski"},"middleName":{"maxLength":100,"minLength":0,"type":"string","description":"Second name","example":"Stanisław"},"middleInitial":{"maxLength":1,"minLength":0,"type":"string","description":"Middle initial","example":"S"},"fullName":{"maxLength":300,"minLength":0,"type":"string","description":"User full name","example":"Jan Stanisław Kowalski"}},"description":"Contains information related to the identification of the user, if the current user is a natural person"},"PersonUserInfo":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/PersonName"},"ids":{"$ref":"#/components/schemas/PersonIdsInfo"},"info":{"$ref":"#/components/schemas/PersonInfoInfo"},"address":{"$ref":"#/components/schemas/AddressInfo"},"contact":{"$ref":"#/components/schemas/ContactInfo"}},"description":"Contains user-related information if the current user is a natural person"},"ProductHints":{"type":"object","properties":{"userType":{"type":"string","description":"The type of user to be checked:\n* PERSON - a person\n* COMPANY - company\n","enum":["PERSON","COMPANY"]},"known":{"$ref":"#/components/schemas/KnownUserInfo"},"uncertain":{"$ref":"#/components/schemas/UncertainUserInfo"}},"description":"Additional, optional information to assist in obtaining an answer"},"ProductQuery":{"type":"object","properties":{"identity":{"$ref":"#/components/schemas/IdentityProduct"},"verify":{"$ref":"#/components/schemas/VerifyProduct"},"bankTransactions":{"$ref":"#/components/schemas/BankTransactionsProduct"},"aml":{"$ref":"#/components/schemas/AMLProduct"},"auth":{"$ref":"#/components/schemas/AuthProduct"}},"description":"Query definition - List of information to be obtained"},"ResidencePermitInfo":{"type":"object","properties":{"id":{"maxLength":50,"minLength":0,"type":"string","description":"Number","example":"AD 24243423"},"issueDate":{"type":"string","description":"Date of issue of the document","format":"date"},"expiryDate":{"type":"string","description":"Document expiry date","format":"date"},"issueCountry":{"type":"string","description":"Country of issue of the document","example":"GB"},"issuer":{"type":"string","description":"Authority issuing the document","example":"Wojewoda Mazowiecki"}},"description":"User's residence permit"},"UncertainUserInfo":{"type":"object","properties":{"company":{"$ref":"#/components/schemas/CompanyUserInfo"},"person":{"$ref":"#/components/schemas/PersonUserInfo"}},"description":"A list of user information that is not certain"},"VerifyProduct":{"required":["user"],"type":"object","properties":{"user":{"$ref":"#/components/schemas/KnownUserInfo"}},"description":"Configures which user information should be compared and verified"},"BadRequestApiError":{"required":["message","status","violations"],"type":"object","properties":{"status":{"type":"string","description":"Response status"},"message":{"type":"string","description":"Descriptive error message"},"violations":{"type":"array","description":"Validation error list","items":{"$ref":"#/components/schemas/Violation"}}}},"Violation":{"required":["field","message"],"type":"object","properties":{"field":{"type":"string","description":"Field name"},"message":{"type":"string","description":"Descriptive error message"}},"description":"Validation error list"},"MethodArgumentNotValidError":{"required":["message","status","violations"],"type":"object","properties":{"status":{"type":"string","description":"Response status"},"message":{"type":"string","description":"Descriptive error message"},"violations":{"type":"array","description":"Validation error list","items":{"$ref":"#/components/schemas/Violation"}}}},"MethodArgumentTypeMismatchError":{"required":["message","status","violations"],"type":"object","properties":{"status":{"type":"string","description":"Response status"},"message":{"type":"string","description":"Descriptive error message"},"violations":{"type":"array","description":"Validation error list","items":{"$ref":"#/components/schemas/Violation"}}}},"ConstraintViolationError":{"required":["message","status","violations"],"type":"object","properties":{"status":{"type":"string","description":"Response status"},"message":{"type":"string","description":"Descriptive error message"},"violations":{"type":"array","description":"Validation error list","items":{"$ref":"#/components/schemas/Violation"}}}},"CustomValidationApiError":{"required":["message","status","violations"],"type":"object","properties":{"status":{"type":"string","description":"Response status"},"message":{"type":"string","description":"Descriptive error message"},"violations":{"type":"array","description":"Validation error list","items":{"$ref":"#/components/schemas/Violation"}}}},"OperationNotSupportedApiFieldError":{"required":["message","status","violations"],"type":"object","properties":{"status":{"type":"string","description":"Response status"},"message":{"type":"string","description":"Descriptive error message"},"violations":{"type":"array","description":"Validation error list","items":{"$ref":"#/components/schemas/Violation"}}}},"MissingHeaderApiError":{"required":["message","status","violations"],"type":"object","properties":{"status":{"type":"string","description":"Response status"},"message":{"type":"string","description":"Descriptive error message"},"violations":{"type":"array","description":"Validation error list","items":{"$ref":"#/components/schemas/Violation"}}}},"ApiError":{"required":["message","status","violations"],"type":"object","properties":{"status":{"type":"string","description":"Response status"},"message":{"type":"string","description":"Descriptive error message"},"violations":{"type":"array","description":"Validation error list","items":{"$ref":"#/components/schemas/Violation"}}}},"ConversationInfo":{"title":"Conversation","required":["id","result","status","url","userKey"],"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the conversation","example":"e0c0b3cc-8238-414f-9940-9f14bd1b8693"},"userKey":{"type":"string","description":"Unique user identifier in the Customer's system","example":"d5dbb8e0-192e-4bc6-972c-f7948409d10c"},"url":{"type":"string","description":"The address where user should be redirected to perform the verification","example":"https://sandbox.authologic.com/c/022e8eaf-b06d-44b9-a68f-45eef1353dbe"},"status":{"$ref":"#/components/schemas/ConversationStatus"},"result":{"$ref":"#/components/schemas/ConversationInfoResult"},"info":{"title":"ConversationInfo","type":"array","description":"The information about activated strategy elements","items":{"$ref":"#/components/schemas/ConversationStrategyInfo"}}}},"ConversationInfoAMLProductResult":{"title":"ConversationAMLResult","required":["found","status"],"type":"object","properties":{"status":{"$ref":"#/components/schemas/ProductResultStatus"},"found":{"uniqueItems":true,"type":"array","description":"AML lists, where matching records were found","readOnly":true,"items":{"type":"string","description":"AML lists, where matching records were found","readOnly":true,"enum":["PEP","SANCTIONS","ADVERSE_MEDIA","SIP","OTHER"]}},"subscription":{"$ref":"#/components/schemas/SubscribedProduct"}},"description":"The result of AML checks"},"ConversationInfoAuthProductResult":{"title":"ConversationAuthResult","required":["status"],"type":"object","properties":{"status":{"$ref":"#/components/schemas/ProductResultStatus"},"token":{"type":"string","description":"Authorization token.","readOnly":true},"challenge":{"type":"string","description":"Equivalent of a user's login in a given method.","readOnly":true}},"description":"The result of authorization"},"ConversationInfoBankTransactionsProductResult":{"title":"ConversationBankTransactionsResult","required":["status"],"type":"object","properties":{"status":{"$ref":"#/components/schemas/ProductResultStatus"}},"description":"The result of retrieving transaction data"},"ConversationInfoIdentityProductResult":{"title":"ConversationIdentityResult","required":["status","user"],"type":"object","properties":{"status":{"$ref":"#/components/schemas/ProductResultStatus"},"errors":{"uniqueItems":true,"type":"array","description":"Additional information on possible causes of verification failure","readOnly":true,"items":{"type":"string","description":"Additional information on possible causes of verification failure","readOnly":true}},"user":{"$ref":"#/components/schemas/DiscoveredUserInfo"},"checks":{"type":"array","description":"Additional information about the validations performed and their results","readOnly":true,"items":{"$ref":"#/components/schemas/ConversationProductValidationResult"}}},"description":"Identity check result"},"ConversationInfoResult":{"title":"ConversationResult","type":"object","properties":{"identity":{"$ref":"#/components/schemas/ConversationInfoIdentityProductResult"},"verify":{"$ref":"#/components/schemas/ConversationInfoVerifyProductResult"},"bankTransactions":{"$ref":"#/components/schemas/ConversationInfoBankTransactionsProductResult"},"aml":{"$ref":"#/components/schemas/ConversationInfoAMLProductResult"},"auth":{"$ref":"#/components/schemas/ConversationInfoAuthProductResult"}},"description":"The result of checking individual elements"},"ConversationInfoVerifyProductResult":{"title":"ConversationVerifyResult","required":["status"],"type":"object","properties":{"status":{"$ref":"#/components/schemas/ProductResultStatus"},"reliability":{"maximum":1,"minimum":0,"type":"number","description":"Information about how closely the output matches the input data","format":"double","readOnly":true},"details":{"type":"array","description":"detailed information about how closely given fields matches the input data","readOnly":true,"items":{"$ref":"#/components/schemas/VerifyProductResultDetailInfo"}}},"description":"Verify step result"},"ConversationProductValidationResult":{"required":["details","name","result"],"type":"object","properties":{"name":{"type":"string","description":"Validator name.","readOnly":true},"result":{"type":"string","description":"Validation result.","readOnly":true,"enum":["ACCEPTED","FAILED","ERROR"]},"details":{"type":"object","additionalProperties":{"type":"object","description":"Validation details.","readOnly":true},"description":"Validation details.","readOnly":true}},"description":"Additional information about the validations performed and their results","readOnly":true},"ConversationStatus":{"type":"string","description":"Conversation state\n* CREATED - conversation ready to be run\n* IN_PROGRESS - data is being determined from the query\n* PARTIAL - at least one product in the query has data ready for collection or finished processing\n* FINISHED - query checks have been completed\n* CANCELED - checking interrupted by the user\n* EXPIRED - conversation is expired\n","example":"CREATED","enum":["CREATED","IN_PROGRESS","PARTIAL","FINISHED","CANCELED","EXPIRED"]},"ConversationStrategyInfo":{"title":"ConversationInfo","required":["country","method"],"type":"object","properties":{"country":{"type":"string","description":"Country used.","readOnly":true,"example":"PL"},"method":{"type":"string","description":"Verification method used.\n* PSD2,\n* TRANSFER,\n* MOBYWATEL,\n* MOJEID_PL,\n* EDO_APP\n\n* and many more \n    ","readOnly":true,"example":"PSD2"}},"description":"The information about activated strategy elements"},"DiscoveredUserInfo":{"type":"object","properties":{"person":{"$ref":"#/components/schemas/PersonUserInfo"},"company":{"$ref":"#/components/schemas/CompanyUserInfo"}},"description":"Data discovered during identity checks","readOnly":true},"ProductResultStatus":{"type":"string","description":"Result status:\n* IN_PROGRESS - checking in progress\n* FINISHED - checking completed\n* PARTIAL - checking completed but only some data could be identified\n* FAILED - checking completed but no data could be determined\n","readOnly":true,"example":"FINISHED","enum":["IN_PROGRESS","FINISHED","FAILED","PARTIAL"]},"SubscribedProduct":{"required":["active"],"type":"object","properties":{"active":{"type":"boolean","description":"Information whether the subscription is active.","readOnly":true},"lastChanged":{"type":"string","description":"Date of the last change in the subscribed data.","format":"date-time","readOnly":true}},"description":"Information about the periodic checking of lists","readOnly":true},"VerifyProductResultDetailInfo":{"required":["field","reliability"],"type":"object","properties":{"field":{"type":"string","description":"The field to which the data relate","readOnly":true,"enum":["PERSON_NAME_FIRSTNAME","PERSON_NAME_LASTNAME","PERSON_NAME_MIDDLENAME","PERSON_NAME_MIDDLE_INITIAL","PERSON_NAME_FULLNAME","PERSON_IDS_NATIONAL_ID","PERSON_IDS_ACCOUNTS","PERSON_IDS_IDCARD_ID","PERSON_IDS_IDCARD_TYPE","PERSON_IDS_IDCARD_PHOTO","PERSON_IDS_IDCARD_ISSUE_DATE","PERSON_IDS_IDCARD_EXPIRY_DATE","PERSON_IDS_IDCARD_ISSUE_COUNTRY","PERSON_IDS_IDCARD_ISSUER","PERSON_IDS_PASSPORT_ID","PERSON_IDS_PASSPORT_ISSUE_DATE","PERSON_IDS_PASSPORT_EXPIRY_DATE","PERSON_IDS_PASSPORT_PHOTO","PERSON_IDS_PASSPORT_ISSUE_COUNTRY","PERSON_IDS_PASSPORT_ISSUER","PERSON_IDS_RESIDENCE_PERMIT_ID","PERSON_IDS_RESIDENCE_PERMIT_TYPE","PERSON_IDS_RESIDENCE_PERMIT_ISSUE_DATE","PERSON_IDS_RESIDENCE_PERMIT_EXPIRY_DATE","PERSON_IDS_RESIDENCE_PERMIT_PHOTO","PERSON_IDS_RESIDENCE_PERMIT_ISSUE_COUNTRY","PERSON_IDS_RESIDENCE_PERMIT_ISSUER","PERSON_IDS_DRIVER_LICENCE_ID","PERSON_IDS_DRIVER_LICENCE_ISSUE_DATE","PERSON_IDS_DRIVER_LICENCE_EXPIRY_DATE","PERSON_IDS_DRIVER_LICENCE_PHOTO","PERSON_IDS_DRIVER_LICENCE_ISSUE_COUNTRY","PERSON_IDS_DRIVER_LICENCE_ISSUER","PERSON_IDS_OTHER_DOCUMENT_ID","PERSON_IDS_OTHER_DOCUMENT_DESCRIPTION","PERSON_IDS_OTHER_DOCUMENT_ISSUE_DATE","PERSON_IDS_OTHER_DOCUMENT_EXPIRY_DATE","PERSON_IDS_OTHER_DOCUMENT_ISSUE_COUNTRY","PERSON_IDS_OTHER_DOCUMENT_ISSUER","PERSON_INFO_GENDER","PERSON_INFO_NATIONALITY","PERSON_INFO_BIRTHDATE","PERSON_INFO_BIRTH_CITY","PERSON_INFO_BIRTH_COUNTRY","PERSON_INFO_AGE","COMPANY_NAME_NAME","COMPANY_IDS_TAX_ID","PERSON_ADDRESS","COMPANY_ADDRESS","PERSON_CONTACT_EMAIL","PERSON_CONTACT_PHONE","PERSON_CONTACT_EMAIL_OTP","PERSON_CONTACT_PHONE_OTP","COMPANY_CONTACT_EMAIL","COMPANY_CONTACT_PHONE","COMPANY_IDS_ADDITIONAL_ID"]},"reliability":{"maximum":1,"minimum":0,"type":"number","description":"Information about how closely the field matches the input data","format":"double","readOnly":true}},"description":"detailed information about how closely given fields matches the input data","readOnly":true},"NextPage":{"required":["args","call","options"],"type":"object","properties":{"call":{"type":"string","description":"Endpoint responsible for processing the data from the current page","example":"consents"},"args":{"uniqueItems":true,"type":"array","description":"Data which should be obtained from the user","items":{"type":"string","description":"Data which should be obtained from the user"}},"options":{"type":"object","additionalProperties":{"type":"object","description":"Option parameters which can be used by the user"},"description":"Option parameters which can be used by the user"},"async":{"type":"integer","description":"The frequency of the asynchronous endpoint invocation, expressed in seconds","format":"int32","example":5}},"description":"Information about processing the data from the user"},"Page":{"type":"object","properties":{"render":{"$ref":"#/components/schemas/RenderPage"},"next":{"$ref":"#/components/schemas/NextPage"}},"description":"Page definition which should be rendered to the user"},"PageErrors":{"required":["accepted","fields","globals","rejected"],"type":"object","properties":{"fields":{"type":"object","additionalProperties":{"type":"string","description":"Information about field errors"},"description":"Information about field errors"},"accepted":{"type":"object","additionalProperties":{"type":"object","description":"Information about accepted fields"},"description":"Information about accepted fields"},"rejected":{"type":"object","additionalProperties":{"type":"object","description":"Information about rejected fields"},"description":"Information about rejected fields"},"globals":{"type":"array","description":"Information about global errors","items":{"type":"string","description":"Information about global errors"}}},"description":"Information about errors occurred when processing the data from the page"},"PageHeader":{"required":["main"],"type":"object","properties":{"main":{"$ref":"#/components/schemas/PageHeaderItem"},"group":{"$ref":"#/components/schemas/PageHeaderItem"}},"description":"Information about headlines used to describe the page"},"PageHeaderItem":{"required":["subtitle","title"],"type":"object","properties":{"title":{"type":"string","description":"Page title"},"subtitle":{"type":"string","description":"Page subtitle"},"howItWorks":{"type":"string","description":"Text describing how the given page works"}},"description":"Information about headlines used to describe the page with a group of data"},"RenderPage":{"type":"object","properties":{"page":{"type":"string","description":"Page Id","example":"consents"},"redirect":{"type":"string","description":"The address of the page to which the user should be redirected to complete the identification verification process.","example":"https://authologic.com/process/step?id=43243444323"},"embeddable":{"type":"boolean","description":"The additional information about redirection. If true, the redirect page can be embedded"},"header":{"$ref":"#/components/schemas/PageHeader"},"back":{"type":"boolean","description":"Information related to navigation"},"args":{"type":"object","additionalProperties":{"type":"object","description":"Additional arguments needed to render the page"},"description":"Additional arguments needed to render the page"},"errors":{"$ref":"#/components/schemas/PageErrors"},"reloadCurrent":{"type":"boolean","description":"Information about the necessity to invoke the `current` endpoint.","example":true}},"description":"Information needed to render the page"},"IdentityMetadata":{"required":["id","list"],"type":"object","properties":{"id":{"type":"string","description":"Conversation Id","example":"e0c0b3cc-8238-414f-9940-9f14bd1b8693b"},"list":{"$ref":"#/components/schemas/MetadataInfo"}},"description":"Information about the metadata collected during the identification process"},"Media":{"required":["contentType","id","type"],"type":"object","properties":{"id":{"type":"string","description":"Media id","example":"c9c73416-6f77-11eb-b60f-0240214a8d4b"},"type":{"$ref":"#/components/schemas/MediaType"},"subtype":{"$ref":"#/components/schemas/MediaSubtype"},"variant":{"$ref":"#/components/schemas/MediaVariant"},"contentType":{"type":"string","description":"Media content type","example":"image/png"}},"description":"Information about media file"},"MediaSubtype":{"type":"string","description":"Media subtype, for example type of the document. Subtype is empty, if the type is FACE.:\n* ID_CARD - identified person's id card\n* DRIVER_LICENSE - identified person's driver license\n* PASSPORT - identified person's passport\n* RESIDENCE_PERMIT - identified person's residence permit\n* UTILITY_BILL - identified person's proof of address\n    ","example":"ID_CARD","enum":["ID_CARD","DRIVER_LICENSE","PASSPORT","RESIDENCE_PERMIT","UTILITY_BILL"]},"MediaType":{"type":"string","description":"Media type:\n* DOCUMENT - identified person's document\n* FACE - identified person's face\n* REPORT - verification process report\n    ","example":"DOCUMENT","enum":["DOCUMENT","FACE","REPORT"]},"MediaVariant":{"type":"string","description":"Media variant, for example side of the document. Variant is empty, if the type is FACE.:\n* FRONT - front side of the document\n* BACK - back side of the document\n    ","example":"BACK","enum":["FRONT","BACK"]},"MetadataInfo":{"required":["media"],"type":"object","properties":{"media":{"type":"array","description":"List of available media files","items":{"$ref":"#/components/schemas/Media"}}},"description":"Information about the list of available metadata collected during the identification process"},"Transaction":{"required":["accountId","amount","bank","currency","date","id","status","type"],"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the transaction","example":"34df2bd6-b790-4560-9fc9-f86c86d87990"},"date":{"type":"string","description":"Transaction date","format":"date-time","example":"2020-09-24T08:27:14.515Z"},"bank":{"type":"string","description":"Bank's SWIFT / BIC code","example":"BREXPLPW"},"accountId":{"type":"string","description":"Account number where transaction was registered.","example":"PL68249000050000400075212326"},"type":{"$ref":"#/components/schemas/TransactionType"},"status":{"$ref":"#/components/schemas/TransactionStatus"},"amount":{"type":"integer","description":"Transaction value in basic units - e.g. in cents","format":"int32","example":10030},"currency":{"type":"string","description":"Currency code in which the transaction took place","example":"PLN"},"title":{"type":"string","description":"Transaction title","example":"Zasilenie konta"},"sender":{"type":"string","description":"Information about the sender","example":"Jan Kowalski"},"recipient":{"type":"string","description":"Information about the recipient","example":"Jan Kowalski"},"senderAccountId":{"type":"string","description":"Account number of the sender","example":"PL68249000050000400075212326"},"recipientAccountId":{"type":"string","description":"Account number of the receiver","example":"PL32114020040000320250132522"},"tags":{"uniqueItems":true,"type":"array","description":"Transaction categories","example":["monthly","verification"],"items":{"type":"string","description":"Transaction categories","example":"[\"monthly\",\"verification\"]"}}},"description":"Information about the transaction"},"TransactionStatus":{"type":"string","description":"Transaction status:\n* BOOKED - transaction booked\n* PENDING - transaction in progress\n* SCHEDULED - Transaction scheduled in the future\n    ","example":"BOOKED","enum":["BOOKED","PENDING","SCHEDULED"]},"TransactionType":{"type":"string","description":"Transaction Type / Direction:\n* CREDIT - account crediting\n* DEBIT - debiting the account\n    ","example":"CREDIT","enum":["CREDIT","DEBIT"]},"Transactions":{"title":"Transactions","required":["items","more"],"type":"object","properties":{"more":{"type":"boolean","description":"Information whether there are more pages available","example":true},"items":{"type":"array","description":"List of transactions","items":{"$ref":"#/components/schemas/Transaction"}}}},"TransactionStatistics":{"required":["accountId","currency","dateFirst","dateLast"],"type":"object","properties":{"dateFirst":{"type":"string","description":"Date of the first transaction in the range","format":"date-time","example":"2020-07-24T08:00:00Z"},"dateLast":{"type":"string","description":"Date of the last transaction in the range","format":"date-time","example":"2020-08-30T00:00:00Z"},"numberOfCreditTransactions":{"type":"integer","description":"The number of credit transactions of the account. The value will be available if you selected all transactions or credit transactions.","format":"int32","example":12},"numberOfDebitTransactions":{"type":"integer","description":"Number of account debit transactions. The value will be available if you selected all transactions or debit transactions.","format":"int32","example":2},"avgCreditPerMonth":{"type":"integer","description":"Average value of credit transactions per month, presented in basic units - e.g. in cents. The value will be available if the analyzed period is greater than 60 days and if credit transactions or all of them were selected when creating the conversation.","format":"int32","example":300000},"avgDebitPerMonth":{"type":"integer","description":"Average value of credit transactions per month, presented in basic units - e.g. in cents. The value will be available if the analyzed period is greater than 60 days and if credit transactions or all of them were selected when creating the conversation.","format":"int32","example":258000},"avgCredit":{"type":"integer","description":"Average value of the account's credit transactions, presented in basic units - e.g. in cents. The value will be available if you selected all transactions or credit transactions.","format":"int32","example":30000},"avgDebit":{"type":"integer","description":"Average value of the account's debit transactions, presented in basic units - e.g. in cents. The value will be available if you selected all transactions or debit transactions.","format":"int32","example":40000},"maxCredit":{"type":"integer","description":"Maximum value of the account credit transaction, presented in basic units - e.g. in cents. The value will be available if you selected or all credit transactions when creating the conversation.","format":"int32","example":110000},"maxDebit":{"type":"integer","description":"Maximum value of the account debit transaction, presented in basic units - e.g. in cents. The value will be available if you selected all transactions or debit transactions.","format":"int32","example":132000},"accountId":{"type":"string","description":"Account number.","example":"PL68249000050000400075212326"},"currency":{"type":"string","description":"Currency code for the account","example":"PLN"}},"description":"Information about transaction statistics for a given account"},"TransactionsStatistics":{"title":"TransactionsStatistics","required":["items"],"type":"object","properties":{"dateFrom":{"type":"string","description":"The starting date of the search criteria or the date of the first transaction for all accounts if the criteria was empty","format":"date-time","example":"2020-07-24T08:00:00Z"},"dateTo":{"type":"string","description":"End date of the search criteria or the last transaction date for all accounts if the criteria was empty","format":"date-time","example":"2020-08-24T00:00:00Z"},"items":{"type":"array","description":"List of transaction statistics for each account separately","items":{"$ref":"#/components/schemas/TransactionStatistics"}}}},"Account":{"required":["accountId","bank","currency","date"],"type":"object","properties":{"date":{"type":"string","description":"The date for which the data is valid","format":"date-time","example":"2020-09-24T08:27:14.515Z"},"balance":{"type":"integer","description":"Account balance in basic units - e.g. in cents","format":"int32","example":10030},"bank":{"type":"string","description":"Bank's SWIFT / BIC code","example":"BREXPLPW"},"accountId":{"type":"string","description":"Unique account identifier. All transactions from one account have the same ID","example":"PL68249000050000400075212326"},"currency":{"type":"string","description":"Currency code for the account","example":"PLN"},"activationDate":{"type":"string","description":"The date when the account was opened or the date of the oldest transaction found","format":"date","example":"2020-09-24"}},"description":"Information about transactions for a given account"},"Accounts":{"title":"TransactionsInfo","required":["items"],"type":"object","properties":{"items":{"type":"array","description":"List of transaction information for each account","items":{"$ref":"#/components/schemas/Account"}}}},"AMLInfo":{"title":"AMLInfo","required":["items","more"],"type":"object","properties":{"more":{"type":"boolean","description":"Information whether there are more pages available","example":true},"items":{"type":"array","description":"List of information collected during AML verification for specified AML list type","items":{"$ref":"#/components/schemas/AMLInfoEntry"}}}},"AMLInfoEntry":{"type":"object","description":"Provides AML information types","anyOf":[{"$ref":"#/components/schemas/AMLPepInfo"},{"$ref":"#/components/schemas/AMLSanctionsInfo"},{"$ref":"#/components/schemas/AMLMediaInfo"},{"$ref":"#/components/schemas/AMLSipInfo"}]},"AMLMediaInfo":{"type":"object","properties":{"originalUrl":{"type":"string","description":"Link to adverse article","example":"https://secure.c6-intelligence.com/c6images/ari0202017/A7JElyvSi.pdf"},"date":{"type":"string","description":"Adverse Media publication date","format":"date","example":"2014-03-27"},"url":{"type":"string","description":"Link to PDF with original adverse media publication","example":"http://kremlin.ru/structure/security-council/members"},"categories":{"type":"array","description":"Media categorization","example":["PEP"],"items":{"type":"string","description":"Media categorization","example":"[\"PEP\"]"}}},"description":"Adverse Media information type"},"AMLPepAddressInfo":{"required":["country"],"type":"object","properties":{"country":{"type":"string","description":"Country name for person","example":"Poland"}},"description":"Address information of the person under verification"},"AMLPepInfo":{"required":["type","user"],"type":"object","properties":{"type":{"$ref":"#/components/schemas/AmlInfoType"},"score":{"type":"number","description":"Compliance level of provided personal data with results (0-1 if provided or null)","format":"double","example":0.98},"reason":{"type":"string","description":"Reason why person is on the list","example":"EUROPEAN UNION: PARLIAMENT (EX)"},"user":{"$ref":"#/components/schemas/AMLPepUserInfo"}},"description":"Politically Exposed Person information type"},"AMLPepPersonInfo":{"type":"object","properties":{"gender":{"type":"string","description":"The gender of the user (MALE/FEMALE/OTHER)","example":"MALE","enum":["MALE","FEMALE","OTHER"]},"nationality":{"type":"string","description":"User's nationality","example":"Poland"},"birthDate":{"type":"string","description":"Date of birth","example":"1972"},"deceased":{"type":"boolean","description":"Information if person is dead","example":false},"deceasedDate":{"type":"string","description":"Date of death","example":"2012"},"image":{"type":"string","description":"URL to person's picture","example":"http://....."},"roles":{"type":"array","description":"Information about the exposed position held by the person","items":{"$ref":"#/components/schemas/AMLPepPersonRole"}}},"description":"Additional information about the person under verification"},"AMLPepPersonName":{"required":["alsoKnownAs","spellings"],"type":"object","properties":{"firstName":{"type":"string","description":"User name","example":"Jan"},"lastName":{"type":"string","description":"User surname","example":"Kowalski"},"middleName":{"type":"string","description":"Second name","example":"Stanisław"},"spellings":{"type":"array","description":"Correct spelling of name and surname (including national language)","example":[],"items":{"type":"string","description":"Correct spelling of name and surname (including national language)","example":"[]"}},"alsoKnownAs":{"type":"array","description":"Alias names of person under verification","items":{"$ref":"#/components/schemas/AmlPepAlsoKnowAs"}}},"description":"Personal data of a person under verification"},"AMLPepPersonRole":{"required":["country","title"],"type":"object","properties":{"title":{"type":"string","description":"Position held","example":"Former Acting President"},"country":{"type":"string","description":"The country in which the position was held","example":"Poland"},"fromDate":{"type":"string","description":"Start date of tenure","example":"2000-05"},"tillDate":{"type":"string","description":"End date of tenure","example":"2005"}},"description":"Information about the exposed position held by the person"},"AMLPepPersonUserInfo":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/AMLPepPersonName"},"info":{"$ref":"#/components/schemas/AMLPepPersonInfo"},"address":{"$ref":"#/components/schemas/AMLPepAddressInfo"}},"description":"User-related data found on AML PEP verification list"},"AMLPepUserInfo":{"type":"object","properties":{"person":{"$ref":"#/components/schemas/AMLPepPersonUserInfo"}},"description":"Data found on AML lists for provided person"},"AMLSanctionsAddressInfo":{"required":["country"],"type":"object","properties":{"country":{"type":"string","description":"Country name for person","example":"Poland"}},"description":"Address information of the person under verification"},"AMLSanctionsInfo":{"required":["sources","type","user"],"type":"object","properties":{"type":{"$ref":"#/components/schemas/AmlInfoType"},"score":{"type":"number","description":"Percent compliance of provided personal data with results (0-1 if provided or null)","format":"double","example":0.98},"reason":{"type":"string","description":"Reason why person is on the list","example":"EO14024 PROGRAM"},"sources":{"type":"array","description":"Names of AML list types on which the person was found","example":["OFAC","EU"],"items":{"type":"string","description":"Names of AML list types on which the person was found","example":"[\"OFAC\",\"EU\"]"}},"user":{"$ref":"#/components/schemas/AMLSanctionsUserInfo"}},"description":"Sanctions information type"},"AMLSanctionsPersonInfo":{"type":"object","properties":{"gender":{"type":"string","description":"The gender of the user (MALE/FEMALE/OTHER)","example":"MALE","enum":["MALE","FEMALE","OTHER"]},"nationality":{"type":"string","description":"User's nationality","example":"Poland"},"birthDate":{"type":"string","description":"Date of birth","example":"1972"},"deceased":{"type":"boolean","description":"Information if person is dead","example":false},"deceaseDate":{"type":"string","description":"Date of death","example":"2012"},"image":{"type":"string","description":"URL to person's picture","example":"http://....."},"roles":{"type":"array","description":"Information about the position held by the person","items":{"$ref":"#/components/schemas/AMLSanctionsPersonRole"}}},"description":"Additional information about the person under verification"},"AMLSanctionsPersonName":{"required":["alsoKnownAs","spellings"],"type":"object","properties":{"firstName":{"type":"string","description":"User name","example":"Jan"},"lastName":{"type":"string","description":"User surname","example":"Kowalski"},"middleName":{"type":"string","description":"Second name","example":"Stanisław"},"spellings":{"type":"array","description":"Correct spelling of name and surname, including in national language","example":[],"items":{"type":"string","description":"Correct spelling of name and surname, including in national language","example":"[]"}},"alsoKnownAs":{"type":"array","description":"Alias names of person under verification","items":{"$ref":"#/components/schemas/AmlSanctionsAlsoKnowAs"}}},"description":"Personal data of a person under verification"},"AMLSanctionsPersonRole":{"required":["country","title"],"type":"object","properties":{"title":{"type":"string","description":"Position held","example":"Former Acting President"},"country":{"type":"string","description":"The country in which the position was held","example":"Poland"},"fromDate":{"type":"string","description":"Start date of tenure","example":"2000-05"},"tillDate":{"type":"string","description":"End date of tenure","example":"2005"}},"description":"Information about the position held by the person"},"AMLSanctionsPersonUserInfo":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/AMLSanctionsPersonName"},"info":{"$ref":"#/components/schemas/AMLSanctionsPersonInfo"},"address":{"$ref":"#/components/schemas/AMLSanctionsAddressInfo"}},"description":"Contains user-related data found on AML SANCTIONS verification list"},"AMLSanctionsUserInfo":{"type":"object","properties":{"person":{"$ref":"#/components/schemas/AMLSanctionsPersonUserInfo"}},"description":"Data found on AML lists for provided person"},"AMLSipInfo":{"required":["type","user"],"type":"object","properties":{"type":{"$ref":"#/components/schemas/AmlInfoType"},"score":{"type":"number","description":"Percent compliance of provided personal data with results (0-1 if provided or null)","format":"double","example":0.98},"reason":{"type":"string","description":"Reason why person is on the list","example":"EO14024 PROGRAM"},"user":{"$ref":"#/components/schemas/AMLSipUserInfo"}},"description":"Special Interest Person information type"},"AMLSipPersonInfo":{"type":"object","properties":{"gender":{"type":"string","description":"The gender of the user (MALE/FEMALE/OTHER)","example":"MALE","enum":["MALE","FEMALE","OTHER"]},"nationality":{"type":"string","description":"User's nationality","example":"Poland"},"birthDate":{"type":"string","description":"Date of birth","example":"1972"},"deceased":{"type":"boolean","description":"Information if person is dead","example":false},"deceaseDate":{"type":"string","description":"Date of death","example":"2012"},"image":{"type":"string","description":"URL to person's picture","example":"http://....."},"roles":{"type":"array","description":"Information about the position held by the person","items":{"$ref":"#/components/schemas/AMLSipPersonRole"}}},"description":"Additional information about the person under verification"},"AMLSipPersonName":{"required":["alsoKnownAs","spellings"],"type":"object","properties":{"firstName":{"type":"string","description":"User name","example":"Jan"},"lastName":{"type":"string","description":"User surname","example":"Kowalski"},"middleName":{"type":"string","description":"Second name","example":"Stanisław"},"spellings":{"type":"array","description":"Correct spelling of name and surname, including in national language","example":[],"items":{"type":"string","description":"Correct spelling of name and surname, including in national language","example":"[]"}},"alsoKnownAs":{"type":"array","description":"Alias names of person under verification","items":{"$ref":"#/components/schemas/AmlSipAlsoKnowAs"}}},"description":"Personal data of a person under verification"},"AMLSipPersonRole":{"required":["country","title"],"type":"object","properties":{"title":{"type":"string","description":"Position held","example":"Former Acting President"},"country":{"type":"string","description":"The country in which the position was held","example":"Poland"},"fromDate":{"type":"string","description":"Start date of tenure","example":"2000-05"},"tillDate":{"type":"string","description":"End date of tenure","example":"2005"}},"description":"Information about the position held by the person"},"AMLSipPersonUserInfo":{"type":"object","properties":{"name":{"$ref":"#/components/schemas/AMLSipPersonName"},"info":{"$ref":"#/components/schemas/AMLSipPersonInfo"}},"description":"Contains user-related data asociating user as Special Interest Person"},"AMLSipUserInfo":{"type":"object","properties":{"person":{"$ref":"#/components/schemas/AMLSipPersonUserInfo"}},"description":"Data found on AML lists for provided person"},"AmlInfoType":{"type":"string","description":"Informs if entry describes person or person's relative:\n* PERSON - person\n* RCA - person's relative\n    ","example":"PERSON","enum":["PERSON","RCA"]},"AmlPepAlsoKnowAs":{"type":"object","properties":{"firstName":{"type":"string","description":"Alias user name","example":"Jan"},"lastName":{"type":"string","description":"User surname","example":"Kowalski"},"title":{"type":"string","description":"User alias","example":"Known As"}},"description":"Alias names of person under verification"},"AmlSanctionsAlsoKnowAs":{"type":"object","properties":{"firstName":{"type":"string","description":"User name","example":"Jan"},"lastName":{"type":"string","description":"User surname","example":"Kowalski"},"title":{"type":"string","description":"User alias","example":"Known As"}},"description":"Alias names of person under verification"},"AmlSipAlsoKnowAs":{"type":"object","properties":{"firstName":{"type":"string","description":"User name","example":"Jan"},"lastName":{"type":"string","description":"User surname","example":"Kowalski"},"title":{"type":"string","description":"User alias","example":"Known As"}},"description":"Alias names of person under verification"}},"securitySchemes":{"apiKey":{"type":"http","description":"To log in, use the user's login and password. The password is the API key obtained for a specific environment.","scheme":"basic"}}}}